---
import type { EmploymentHistory } from "../../types/EmploymentHistory";

const lang = Astro.currentLocale || "en";

const employmentHistories: Array<EmploymentHistory> = await import(
    `../../content/03-employment/${lang}.json`
).then((m) => m.default);

function getFormattedDate(isoDate: string): string{
  const date =  new Date(isoDate);
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, "0"); // Months are zero-based
  return `${year}.${month}`;
}
---

<ul class="employment-history">
    {employmentHistories.toReversed().map((employmentHistory) => 
        <li class="employment-row">
            <div><div class="bullet"></div><h4 class="employment-company">{employmentHistory.company}</h4></div>
            <div class="employment-full-duration">{getFormattedDate(employmentHistory.end)} — {getFormattedDate(employmentHistory.start)}</div>
            <ul class="job-container">
                {employmentHistory.positions.toReversed().map((position) => 
                    <li class="job-row">
                        <div class="bullet"></div>
                        <div>{position.title} <span class="job-duration">{getFormattedDate(position.end)} — {getFormattedDate(position.start)}</span></div> 
                        
                    </li>
                )}
            </ul>
        </li>
    )}
</ul>
