---
import type { Skill } from "../../types/Skill";
import SkillList from "./SkillList.astro";

const programmingLanguages: Array<Skill> = await import(
    `../../content/04-skill/02-programming_languages.json`
).then((m) => m.default);

const frameworks: Array<Skill> = await import(
    `../../content/04-skill/03-frameworks.json`
).then((m) => m.default);

const tools: Array<Skill> = await import(
    `../../content/04-skill/04-tools.json`
).then((m) => m.default);


const content =
    Astro.currentLocale == "en"
        ? { programmingLanguage: "Languages", framework: "Frameworks", tools: "Tools" }
        : { programmingLanguage: "語言", framework: "框架", tools: "工具" };
---

<div>
    <SkillList skills={programmingLanguages} title={content.programmingLanguage}/>
    <SkillList skills={frameworks} title={content.framework}/>
    <SkillList skills={tools} title={content.tools}/>
</div>
